/*auth*/
section {
	float: left;
	max-width: 49%;
	margin: 0;
	padding: 1em;
	overflow: hidden;
}

article {
  margin-left: 50%;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}

/*home*/
ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
  overflow: hidden;
  background-color: pink;
}

li {
  float: left;
	display: inline;
}

li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	background-color: pink;
	border: pink;
}

/* Change the link color to #111 (black) on hover */
li button:hover {
  background-color: steelblue;
	color: lightblue;
}

/*ul #dropdown {
	background-color: white ! important;
}*/

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: steelblue;
  color: lightblue;
}

#dropdown1{
	float: left;
	max-width: 39%;
	margin: 0;
	padding: 1em;
}

#dropdown2 {
  margin-left: 40%;
  padding: 1em;
}