<!DOCTYPE html>
<html>
	<head>
		<title>Authenticate</title>
    <style>
      section {
        float: left;
        max-width: 49%;
        margin: 0;
        padding: 1em;
        overflow: hidden;
      }

      article {
        margin-left: 50%;
        border-left: 1px solid gray;
        padding: 1em;
        overflow: hidden;
      }
    </style>
	</head>

	<body>
		<!--Login-->
		<section> 
			<h1>If you have an account, please log in:</h1>
			<form action="/login/" method="POST">

				Username: <input type="text" name="user"> <br>
				Password: <input type="password" name="pass"> <br>
				<input type="submit" name="button" value="Login" action="/auth/">
			</form>

		</section>
		<!--Register-->
		<article> 
			<h1>If you want an account, please register:</h1>
			<form action="/login/" method="POST">

				Username: <input type="text" name="user"> <br>
				Password: <input type="password" name="pass"> <br>
				Confirm password: <input type="password" name="confirm_pass"> <br>
				<input type="submit" name="button" value="Register" action="/auth/">
			</form>

		</article>
	</body>

</html>
