{% extends "navbar.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
	<form action="GET">
		<button formaction="/stories/create/"><h4>Create Story</h4></button> 
	</form>
  
  <br>

  <div class="dropdown" id="dropdown1">
    <button class="dropbtn">Contribute</button>
    <div class="dropdown-content">
      {% for story in avail_stories %}
        <a href="/stories/{{story[1]}}/">{{story[0]}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="dropdown" id="dropdown2">
    <button class="dropbtn">Contributed to</button>
    <div class="dropdown-content">
      {% for story in written_stories %}
        <a href="/stories/{{story[1]}}/">{{story[0]}}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
