<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
  			TITLE
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	
	<body>

		<!--navbar-->
		<nav>
			<ul>
				<form method="GET" action="/">
					<li>
						<button type="submit">
							Home
						</button>
					</li>
				</form>

				<form method="POST" action="/logout/">
					<li style="float: right;">
						<button type="submit">
							Log Out
					</button>
					</li>
				</form>

				<form method="GET" action="/account/">
					<li style="float: right;">
						<button type="submit">
							Account
						</button>
					</li>
				</form>

				<li style="float: right; display: block; text-align: center; padding: 14px 16px;">
					{{user}}
				</li>
			</ul>	
		</nav>
		<!--end navbar-->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			{% endif %}
		{% endwith %}

		<p>		
			{% block content %}
			  content
			{% endblock %}
		</p>	
	</body>

</html>
